<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

    {% include header.html %}

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <div class="home">
        <section>
            <h2>Learning to Cube</h2>
            <ul>
            <li><a href="https://www.rubiks.com/en-us/">Rubiks Cube - the official site</a> (download <a href="assets/Rubiks_3x3_Solution_Guide.pdf">guide</a>)</li>
            <li><a href="https://www.cubeskills.com/">Cubing Skills - Feliks Zemdegs website</a></li>
            <li><a href="https://ruwix.com/">Ruwix - all round speed cubing tips</a></li>
            <li>
                YouTube
                <ul>
                <li><a href="https://www.youtube.com/watch?v=R-R0KrXvWbc&feature=youtu.be">Wired on How to solve a 3x3</a></li>
                <li><a href="https://www.youtube.com/watch?v=1t1OL2zN0LQ">The Cubicle on solving the 3x3</a></li>
                </ul>
            </li>
            </ul>
        </section>
        <section>
            <h2>Competing</h2>
            <a href="https://www.worldcubeassociation.org/" alt="World Cubing Association"><img src="images/wca.svg" /></a>
            <br /><br />
            Some notable mentions from the hall of fame:
            <ul>
                <li><a href="https://www.worldcubeassociation.org/persons/2009ZEMD01">Feliks Zemdegs</a> - currently fastest 3x3 cuber in the world</li>
                <li><a href="https://www.worldcubeassociation.org/persons/2007VALK01">Mats Valk</a> - currently 12th fastest 3x3 cuber and has a cube named after him</li>
                <li><a href="https://www.worldcubeassociation.org/persons/2012PARK03">Max Park</a> - currently #2 for 3x3 and #1 for 4x4, 5x5, 6x6 and 7x7 and 3x3 blindfolded</li>
            </ul>
            </section>
            <section>
                <h2>Where to Buy Cubes</h2>
                <a href="https://www.speedcubes.co.za/" alt="Speedcubes.co.za">
                <img src="images/speedcubes-co-za.jpg" /> <br /><br />
                speedcubes.co.za
                </a>
            </section>
            </div>
    </div>
</main>

</body>
</html>
